body, h1, p, ul {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

section#left {
  background: hsl(228, 45%, 44%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
}

section#right {
  width: 50vw;
}

footer p {
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}
